.about-head{
    background: url('./image/bg-popup.png') no-repeat center;
    background-size: cover;
    height: 30vh;
    width: 100%;
    background-color: #fdf8f3;
}
.about-head h1{
    color: #ee8422;
    text-align: center;
    padding: 140px 0;
    font-weight: 700;
}