.shop-item-list {
  display: grid;
  grid-template-columns: 10fr 2fr;
  margin: 4% 10% 5% 10%;
  grid-gap: 2rem;
}
.shop-item-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.shop-item-card img {
  width: 70%;
  margin: 20px;
  transition: 0.3s;
}
.shop-item-left {
  display: grid;
  justify-items: center;
}
.shop-item-card:hover img {
  transform: scale(1.1);
}
.menu-card-body p {
  text-align: justify;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}
.menu-card-body h2 {
  font-size: 25px;
}
.menu-card-body h5 {
  font-size: 18px;
}

/* navbar */
.item-categories-h3 {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}
.ShopItemNavbar {
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #666;
  font-weight: 600;
}
.item-btn-group {
  display: grid;
  background-color: #fdf8f3;
}
.item-button {
  margin: 5px 0;
  cursor: pointer;
  transition: 0.3s;
  color: #666;
}
.item-button:hover {
  background-color: #ee8422;
  color: #fff;
}
.item-button:hover button {
  color: #fff;
}
.item-btn-group button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  text-transform: capitalize;
  color: #666;
  font-weight: 600;
}

/* shop-item-sorting */
.shop-item-sorting {
  display: flex;
  margin: 4% 10%;
  justify-content: space-between;
}
.shop-item-sorting p {
  color: #666;
  font-family: system-ui;
}
.shop-item-sorting select {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  color: #666;
  font-weight: 600;
  padding: 10px;
  outline: none;
  background-color: #fdf8f3;
  cursor: pointer;
}

/* shop-item-right-input */
.shop-item-right-input {
  margin: 40px 0;
  background-color: #fdf8f3;
  padding: 15px 5px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}
.shop-item-right-input input {
  border: none;
  outline: none;
  background-color: #fdf8f3;
  width: 85%;
  padding: 0 5px;
}
.shop-item-right-search-icon {
  font-size: 25px;
  color: #ee8422;
  cursor: pointer;
  transition: 0.1s;
}

/* shop-item-right-input */
.item-filter-range input{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #fdf8f3;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 15px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 15px 0;
}
.item-filter-range input:hover {
  opacity: 1;
}

.item-filter-range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ee8422;
  cursor: pointer;
  border-radius: 50%;
}

.item-filter-range input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ee8422;
  cursor: pointer;
}
.item-filter-range h5{
  color: #666;
  border-bottom: 1px dashed #dadada;
  padding-bottom: 15px;
}
.item-filter-range p{
  color: #666;
}









@media screen and (max-width: 1600px) {
  .shop-item-list {
  
    grid-template-columns: 10fr 2fr;
    margin: 4% 5% 5% 5%;
  }
  .shop-item-sorting{
    margin: 4% 5%;
  }
}
@media screen and (max-width: 1300px){
  .shop-item-list {
    grid-template-columns: 9fr 3fr;
  }
  .shop-item-card-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 850px){
  .shop-item-list {
    grid-template-columns: 8fr 4fr;
  }
}
@media screen and (max-width: 700px){
  .shop-item-list {
    grid-template-columns: 8fr 6fr;
  }
  .shop-item-card-container {
    grid-template-columns: 1fr;
  }
  .shop-item-sorting{
flex-direction: column;
  }
  .shop-item-sorting select{
margin-top: 20px;
  }
}
@media screen and (max-width: 550px){
  .shop-item-list {
    grid-template-columns: 1fr;
  }
}