.home {
    padding-top: 80px;
  }
  .home-head {
    height: 90vh;
    background: url("../Image/black-370118.png") no-repeat center center;
    background-size: cover;
    background-position: right;
  }
  .home-head-img {
    height: 90vh;
    padding: 0 7% 0 20%;
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
  }
  .home-had-pizza {
    background-image: url("../Image/h1_shape-6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: right;
  }
  .home-head-img {
    background-image: url("../Image/h1_shape-7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
  }
  .home-had-pizza img {
    width: 100%;
  }
  .leaf img {
    width: 90%;
  }
  .home-head-content img {
    margin-top: -45%;
    width: 45%;
  }
  .home-head-content h1 {
    color: #fff;
    font-size: calc(40px + (70 - 40) * (100vw - 320px) / (2100 - 320));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  .home-head-content h1 span {
    color: #ee8422;
  }
  .home-head-content h3 {
    color: #7b8f30;
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (2100 - 320));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .home-head-content p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .home-head-price-btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .home-head-price-btn p {
    margin-bottom: 0rem;
  }
  .home-head-price-btn p {
    color: #7b8f30;
    font-size: 30px;
    font-weight: 600;
  }
  .home-head-price-btn p del {
    color: #848484;
    font-size: 18px;
    font-weight: 600;
  }
  .home-head-price-btn a button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: #ee8422;
    cursor: pointer;
    color: #000;
  }
  
  
  
  
  /*=============== MEDIA QUERIES ===============*/
  
  
  
  
  
  @media screen and (max-width: 1400px) {
    .home-head {
      height: 80vh;
    }
    .home-head-content img {
      margin-top: -55%;
      width: 50%;
    }
    .home-head-img {
      height: 90vh;
      padding: 0 5% 0 15%;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .home-head-content img {
      margin-top: -65%;
      width: 55%;
    }
  }
  @media screen and (max-width: 1100px) {
    .home-head-content img {
      margin-top: -300px;
      width: 55%;
    }
  }
  @media screen and (max-width: 1000px) {
    .home-head {
      height: 90vh;
    }
    .home-head-content img {
      margin-top: -60px;
      width: 35%;
    }
    .home-head-img {
      height: 100vh;
      padding: 0 10%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
    .home-head-content {
      text-align: center;
    }
    .home-had-pizza {
      display: grid;
      justify-items: center;
    }
    .home-had-pizza img {
      width: 80%;
    }
    .home-head-price-btn {
      justify-content: center;
    }
  }
  @media screen and (max-width: 600px) {
    .home-head {
      height: 70vh;
    }
    .home-head-img {
      height: 90vh;
    }
    .home-had-pizza img {
      width: 100%;
    }
    .home-head-price-btn {
      flex-direction: column;
      gap: 5px;
    }
  }
  