.cart-head {
  background: url("./image/bg-popup.png") no-repeat center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  background-color: #fdf8f3;
}
.cart-head h1 {
  color: #ee8422;
  text-align: center;
  padding: 140px 0 0 0;
  font-weight: 700;
  margin-bottom: 15px;
}
.cart-head-link {
  display: flex;
  justify-content: center;
}
.cart-head-link a,
.cart-head-link p {
  color: #000;
  text-decoration: none;
}
.cart-head-link p {
  font-weight: bold;
}
.cart-head-link a {
  color: #828282;
}
.cart-head-link a:hover {
  color: #ee8422;
  text-decoration: underline;
}

/* checkout-cart-head start */
.checkout-cart-head {
  display: flex;
  justify-content: center;
}
.checkout-cart-item {
  display: grid;
  justify-items: center;
  margin: 30px 50px;
}
.checkout-cart-item p {
  color: #6666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.checkout-cart-icon {
  font-size: 30px;
  color: #6666;
}
.item-color {
  color: #ee8422;
}
.item-color p {
  color: #ee8422;
}
.item-success-color {
  color: #0abb75;
}
.item-success-color p {
  color: #0abb75;
}
/* checkout-cart-head end */

/* return-shop-shipping start*/
.checkout-shipping {
  width: 60%;
  margin: 2% auto;
  border: 1px solid #c9c9c9;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 5px;
}
.checkout-shipping-details {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}
.shipping-address {
  border: 1px solid #c9c9c9;
}
.add-div {
  display: grid;
  justify-content: center;
}
.add-new-address {
  width: 400px;
  margin: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  padding: 40px 100px;
}
.add-new-address p {
  font-size: 15px;
}
.add-new-address-icon {
  font-size: 35px;
}
.shipping-address {
  margin: 20px 50px;
  display: inline-flex;
  padding: 10px;
}
.shipping-address label {
  width: 100%;
  padding: 0 100px 0 10px;
}
.shipping-address label p span {
  color: #666;
}
.shipping-address label p {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.address-edit-delete-icon {
  cursor: pointer;
  margin-bottom: 10px;
  margin: 10px;
}
.address-edit-delete-btn {
  position: absolute;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  margin-left: -50px;
  height: 86px;
  display: none;
}
.hide-edit-delete {
  display: block;
}

.address-edit-delete-btn ul {
  padding-left: 0rem;
}
.address-edit-delete-btn ul li {
  list-style: none;
  padding: 5px 35px;
  margin: 5px 0;
  cursor: pointer;
}
.address-edit-delete-btn ul li:hover {
  background-color: #c9c9c9;
}

.address-edit-delete-icon2 {
  cursor: pointer;
  margin-bottom: 10px;
  margin: 10px;
}
.address-edit-delete-btn2 {
  position: absolute;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  margin-left: -50px;
  height: 86px;
  display: none;
}
.hide-edit-delete2 {
  display: block;
}

.address-edit-delete-btn2 ul {
  padding-left: 0rem;
}
.address-edit-delete-btn2 ul li {
  list-style: none;
  padding: 5px 35px;
  margin: 5px 0;
  cursor: pointer;
}
.address-edit-delete-btn2 ul li:hover {
  background-color: #c9c9c9;
}

/* pop-up start */
.pop-up-login-h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #555;
}
.address-pop-up-textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(227, 227, 227);
  outline: none;
}
.pop-pu-login-input {
  border: 1px solid rgb(227, 227, 227);
  outline: none;
  width: 100%;
  height: 45px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.pop-up-save-btn {
  border: none;
  padding: 10px 25px;
  color: #fff;
  background-color: #d30015;
  cursor: pointer;
  float: right;
}

/* pop-up end */
/* return-shop-shipping end*/

/* checkout-bottom start */
.checkout-bottom {
  display: flex;
  justify-content: space-between;
  margin: 3% 22%;
}
.checkout-bottom button {
  outline: none;
  border: none;
}
.checkout-return-bottom {
  display: flex;
  align-items: center;
  color: #ee8422;
  cursor: pointer;
}
.checkout-return-bottom button {
  background-color: transparent;
  padding-left: 5px;
  text-decoration: underline;
  color: #ee8422;
}
.checkout-continue-bottom {
  background-color: #ee8422;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
/* checkout-bottom end */

/* checkout-bottom start */
.checkout-bottom {
  display: flex;
  justify-content: space-between;
  margin: 3% 22%;
}
.checkout-bottom button {
  outline: none;
  border: none;
}
.checkout-return-bottom {
  display: flex;
  align-items: center;
  color: #ee8422;
  cursor: pointer;
}
.checkout-return-bottom button {
  background-color: transparent;
  padding-left: 5px;
  text-decoration: underline;
  color: #ee8422;
}
.checkout-continue-bottom {
  background-color: #ee8422;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
/* checkout-bottom end */

@media screen and (max-width: 1650px) {
  /* return-shop-shipping start*/
  .checkout-shipping {
    width: 80%;
  }
  /* return-shop-shipping end*/
}

@media screen and (max-width: 1250px) {
  /* checkout-bottom start */
  .checkout-bottom {
    margin: 5% 12%;
  }
  /* checkout-bottom end */

  /* return-shop-shipping start*/
  .checkout-shipping {
    width: 90%;
  }
  /* return-shop-shipping end*/
}
@media screen and (max-width: 1100px) {
  /* checkout-head start */
  .checkout-cart-item {
    margin: 20px 25px;
  }
  /* checkout-head end */
  .shipping-address label {
    padding: 0 20px 0 10px;
  }
}
@media screen and (max-width: 850px) {
  /* checkout-head start */

  .cart-details-head {
    grid-template-columns: 5fr 2fr 2fr;
    padding: 2% 1%;
    justify-items: center;
  }
  .checkout-cart-item p {
    display: none;
  }
  .cart-details-head-price,
  .cart-details-head-text,
  .cart-details-head-quantity {
    display: none;
  }
  /* checkout-head end */
  /* checkout-bottom start */
  .checkout-bottom {
    margin: 5% 8%;
  }
  /* checkout-bottom end */
  .checkout-shipping-details {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 650px) {
  /* checkout-bottom start */
  .checkout-bottom {
    margin: 5% 3%;
  }
  /* checkout-bottom end */
  .add-new-address {
    padding: 40px 50px;
    width: 280px;
  }
  .shipping-address {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 450px) {
  /* checkout-head start */
  .checkout-cart-item {
    margin: 20px 15px;
  }
  /* checkout-head end */

  /* checkout-bottom start */
  .checkout-bottom {
    margin: 7% 3%;
  }
  .checkout-continue-bottom {
    padding: 5px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
  }
  /* checkout-bottom end */
  .shipping-address label {
    padding: 0 5px;
  }
  .shipping-address label p {
    font-size: 13px;
  }
  /* checkout-bottom start */
  .checkout-bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    margin: 5% 15%;
  }
  .checkout-return-bottom{
    justify-content: center;
    margin-top: 10px;
  }
  .checkout-bottom button{
    font-size: 15px;
  }
}
