.full-slider {
  background-color: #fdf8f3;
}
.client-says-header {
  text-align: center;
  padding-top: 30px;
  font-size: calc(25px + (40 - 25) * (100vw - 320px) / (2100 - 320));
  font-weight: 700;
  color: #494949;
}
.testimonialSlider {
  display: grid;
  text-align: center;
  padding: 20px;
  margin: 50px 0;
}
.testimonialSlider img {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 50%;
}
.testimonialSlider h4 {
  color: #ee8422;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin: 20px 0;
}
.testimonialSlider span {
  color: #666;
}
.testimonialSlider p {
  color: rgb(145, 145, 145);
  font-size: 20px;
  line-height: 25px;
}

.slick-prev:before,
.slick-next:before {
  color: #222 !important;
}

.slider-main {
  margin: 0 25%;
}

@media screen and (max-width: 900px) {
  .slider-main {
    margin: 0 8%;
  }
  .testimonialSlider img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
