.teams-head{
    background: url('./image/bg-popup.png') no-repeat center;
    background-size: cover;
    height: 30vh;
    width: 100%;
    background-color: #fdf8f3;
}
.teams-head h1{
    color: #ee8422;
    text-align: center;
    padding: 140px 0 0 0;
    font-weight: 700;
    margin-bottom: 15px;
}
.teams-head-link{
    display: flex;
    justify-content: center;
}
.teams-head-link a, .teams-head-link p{
    color: #000;
    text-decoration: none;
}
.teams-head-link p{
    font-weight: bold;
}
.teams-head-link a{
    color: #828282;
}
.teams-head-link a:hover{
    color: #ee8422;
    text-decoration: underline;
}


